.something{
    
}

.disp-none{
    display:block;
}

.container{
    background: white;
    border-radius: 1.5em;
    box-shadow: -5px 4px 4px 1px #00000094;
    width: 90%;
    margin-left: 5%;
    padding: 0.5em;
    margin-bottom: 4%;
    cursor: pointer;
    font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

.drag-elem{
    border-radius: 1.5em;
}

.num-cont{
    color: black;
    font-weight: 700;
    max-width: 90%;
    
}

.name-cont{
    color: #ffff;
    font-weight: 500;
    font-size: 1.2em;
    text-shadow: -1px 1px 2px black;
    max-width: 90%;
}

.complete-cls{
    text-decoration: line-through;
    color: grey !important;
}

.high-prio{
    fill: #ea1919;
    box-shadow: 0 0 4px 0px #ea1919;
    position: relative;
    width: 1.5em;
    left: 1em;
    top: 1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    outline: 0.1em solid #ea1919;
    outline-offset: -1px;
    outline-style: ridge;
}

.med-prio{
    fill: #e69900;
    box-shadow: 0 0 4px 0 #e69900;
    position: relative;
    width: 1.5em;
    left: 1em;
    top: 1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    outline: 0.1em solid #e69900;
    outline-offset: -1px;
    outline-style: ridge;
}

.low-prio{
    fill: rgb(6, 250, 39);
    box-shadow: 0 0 4px 0px #03f72c;
    position: relative;
    width: 1.5em;
    left: 1em;
    top: 1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    outline: 0.1em solid #03f72c;
    outline-offset: -1px;
    outline-style: ridge;
}

.offfset-icon{
    margin-top: -3px;
}

.low-mob{
    background: linear-gradient(90deg,#009688, #3bd541);
    border: 2px solid black;
}

.med-mob{
    background: linear-gradient(90deg,#ffdb07, #ffeb3b);
    border: 2px solid black;
    
}

.high-mob{
    background: linear-gradient(90deg, #c90707, #fd9e4d);
    border: 2px solid black;
}


@media (max-width: 900px) {

    .disp-none{
        display:none;
    }


}